[submodule "calcite_server"]
	path = calcite_server
	url = https://github.com/NANNO35578/calcite_server.git
[submodule "calcite_web"]
	path = calcite_web
	url = https://github.com/NANNO35578/calcite_web.git
